@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    /* margin:0; */
    padding: 0;
    /* box-sizing: border-box; */
}
main {
	/*max-width: 800px;*/
	margin: 2rem auto;
    	}
:root {
    --primary-color:#ABE188;
    --seconday-color:#F7EF99;
    --accent1-color:#F1BB87;
    --accent2-color:#F78E69;

    --heading-font:'Bebas Neue',sans-serif;
    --paragraph-front:'Roboto Slab',serif;

    --nav-background-color-:#0FA3B1;
    --nav-hover-color:#D9E5D6;
    --nav-hover-link-color:#EDDEA4;
    --nav-hover-background-color:#F7A072;
}
body {
    font-family: var(--paragraph-front);
  
    padding: 20px;
    color: rgb(112, 133, 195);
    background-color: antiquewhite;
    }

    /* img {
        max-width: 100%;
        object-fit: cover;
    } */
h1 {
    font-family:var(--heading-front);
    position:absolute;
    font-weight: 900;
    font-size: 2.5em;
    /* margin-top: -700px;
    margin-left: 100px; */
    color: rgb(225, 213, 34);
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;


}

.container {
    max-width: 960px;
    margin: 0 auto;
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
    column-gap: 50px;
	border-bottom: 1px solid #ccc;
}
p {
    padding: 25px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;  
}
/* nav {
    background-color: var(--nav-background-color-);
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
        align-items: center;
} */
/* nav a  {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size:1.2rem;
    font-weight: 500;
} */
/* .button {
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: flex;
    font-size: 16px;
} */


.button {
    display: block;
    background-color: #0FA3B1;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
.hero {
	margin: 10px auto;
	position: relative;
}
.hero img {
      
    display: block;
    width: 100%;
    height: auto;
}

article {
    box-sizing: border-box;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:80%;
}
.abc img {
    width: 400px;
	margin: 10px;
	border: 1px solid;
    position:relative;
    float: right;
}
.history-title {
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.history-img {
    max-width: 100%;
}
.bce-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns:repeat(5, 1fr);
    gap:10px
}
.bce img{
    max-width: 100%;
	object-fit: cover;
    height: 100%;
}
figure {
    border: thin #c0c0c0 solid;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
.footer{
    display: grid;
    grid-template-columns: 1fr max-content;

}
.sociallinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.sociallinks img {
    max-width: 35px;
}
.copyright {
    text-align: center;
}
.head2{
    text-align: center;
}